@charset "UTF-8";
/* Обнуление стилей */
/*git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

wrapper {
  width: 1125px;
  height: 6559px;
  background-color: #f3ecec;
  margin: auto;
  display: block;
}

.logical_block, main .logo, main .shop .brands, main .shop .categories .category .category_caption, main .shop .categories .category .category_img, main .shop .categories, header .phat_logo, header .nav_icon {
  outline: 2px solid #c0c0c0;
  outline-offset: -1px;
}

header {
  height: 209px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-min-content 70px -webkit-min-content 70px -webkit-min-content 70px -webkit-min-content 70px -webkit-min-content;
  -ms-grid-columns: min-content 70px min-content 70px min-content 70px min-content 70px min-content;
  grid-template-columns: -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-columns: min-content min-content min-content min-content min-content;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 70px;
}
header .nav_icon {
  display: block;
  width: 65px;
  height: 65px;
}
header .nav_icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .phat_logo {
  display: block;
  margin-left: 131px;
  margin-right: 131px;
  width: 177px;
  height: 177px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .shop {
  width: 100%;
  margin: auto;
}
main .shop .categories {
  width: 100%;
  max-height: 1675px;
  overflow: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-min-content 57px -webkit-min-content;
  -ms-grid-columns: min-content 57px min-content;
  grid-template-columns: -webkit-min-content -webkit-min-content;
  grid-template-columns: min-content min-content;
  -webkit-column-gap: 57px;
     -moz-column-gap: 57px;
          column-gap: 57px;
}
main .shop .categories .category {
  display: block;
  width: 480px;
  height: 560px;
}
main .shop .categories .category .category_img {
  display: block;
  width: 480px;
  height: 480px;
}
main .shop .categories .category .category_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .shop .categories .category .category_caption {
  display: block;
  width: 480px;
  height: 37px;
  margin-top: 13px;
  color: #4f4747;
  font-size: 37px;
  text-align: center;
  overflow: hidden;
}
main .shop .brands {
  width: 100%;
  height: 384px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
main .shop .brands div:nth-child(1) {
  margin-left: 55px;
}
main .shop .brands .brand {
  height: 184px;
  min-width: 276px;
  width: 276px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 90px;
  border-style: solid;
  border-color: #c0c0c0;
  border-width: 3px;
  border-radius: 14px;
}
main .logo {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .marketing {
  display: block;
}


.hidden {
  display: none;
}